@media print{
    #content{
        display: block;
    }
}

#navigation{
    display: block !important;
    height: auto;
}

#bws-logo{
    background-image: url('../imgs/logo.svg');
    background-repeat: no-repeat;
}

#hinweis{
    margin-bottom: 15px !important;
}

#resetEins, #resetZwei, #resetDrei{
    padding-bottom: 1px !important;
    padding-left: 1px !important;
    padding-right: 1px !important;
    padding-top: 1px !important;
    width: 20px;
    height: 20px;
    background-color: transparent;
}

.link:hover{
    font-weight: normal;
}

.hide{
    visibility: hidden;
}

.panel.paper {
    background-image: url(../imgs/linedpaper.png);
    background-position: 0 7px;
}

.panel{
    border-style: solid;
    border-width: 1px;
    border-color: #e3e3e3;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    background: #fff;
    background-position-x: 0%;
    background-position-y: 0%;
    background-image: none;
}

.row{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 62.5rem;


}

.logo{
    background: url(../imgs/green_dust_scratch_greener.png);
    border-image: url(../imgs/wood_pattern_dark.png) 30 30 stretch;
    border-color: burlywood;
    border-style: solid;
    border-width: 5px;
    padding: 0 1rem;
    word-wrap: break-word;
    font-family: ClickerScript-Regular;
}

.logo > h2{
    color: white;
    font-family: "ClickerScript-Regular";
}

table{
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

table, th, td{
    border: 1px solid #cdcdcd;
}

table th, table td{
    padding: 5px;
    text-align: left;
}