.panel.paper {
    background-image: url(../imgs/linedpaper.png);

background-position: 0 7px;
}

.panel{
    border-style: solid;

border-width: 1px;

border-color: #e3e3e3;

margin-bottom: 1.25rem;

padding: 1.25rem;

background: #fff;

    background-position-x: 0%;
    background-position-y: 0%;
    background-image: none;
}

.logo{
    background: url(../imgs/green_dust_scratch_greener.png);
    border-image: url(../imgs/wood_pattern_dark.png) 30 30 stretch;
    border-color: burlywood;
    border-style: solid;
    border-width: 5px;
    padding: 0 1rem;
    word-wrap: break-word;
    font-family: ClickerScript-Regular;
}

.logo > h2{
    color: white;
    font-family: "ClickerScript-Regular";
}


